<form action="/" method="post">
    <p>Cargar producto</p>
    <input type="text" name="title" id="title" placeholder="Producto">
    <input type="text" name="price" id="price" placeholder="Precio">
    <input type="text" name="thumbnail" id="thumbnail" placeholder="Link img">
    <button type="submit">Enviar</button>
</form>