<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&family=PT+Mono&display=swap');
    </style>
    <link rel="stylesheet" href="style.css">
    <title>Handlebars + Express</title>
</head>
<body>
    <div class="title">
        <h1>Handlebars + Express</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/products">Productos</a>
        </nav>
    </div>
    <% if (page == 'home'){ %>
        <%- include('partials/home') -%>
    <% } else if (page == 'products') { %>
        <%- include('partials/products') -%>
    <% } %>
</body>
</html>